style.css
/*index.html styles*/
* { 
   margin: 0; 
   padding: 0;
} 
body {
	font-family: sans-serif;
	font-size: 45px;
      margin: 0;
      padding:0;
}
a {
	font-family: sans-serif;
	font-size: 45px;
	line-height: 3;
	color:#03A696;
	transition: letter-spacing 0.2s;
}
a:hover {
	letter-spacing: 0.15em ;
	color: #F28705;
}
ul {
	text-align: center;
}
li {
	list-style: none; 
}
.main div.bg{
      height: 100vh;
      width: 100vw;
      background-color: #012340;
      position: fixed;
      top: 0px;
      left: 0px;
      margin: 0;
      padding: 0;
      z-index: 0;
}
.main div.titles{
	  height: 100vh;
      width: 100vw;
      position: absolute;
      top: 0px;
      left: 0px;
      margin: 0;
      padding: 0;
      z-index: 1;
}




/*musica1 styles*/
.musica1 .col{
width:100vw;
height:100vh;
top: 0px;
left: 0px;
      color:#F2F1E4;
      text-align: left;
      background-color: #5DA35D;
      position: absolute;
      line-height: 16vh;
}
.musica1 .big{
      text-align: center;
      font-size: 145px;
}
.musica1 .para-left {
      margin-top: 75vh;
      padding-left: 10vw;
}
.musica1 .para-right {

}
.musica1 .line {
  color:#F2F1E4;
  top: 60vh;
  width: 200px;
  height: 10px;
}





/*musica2 styles*/
.musica2{
  background:  #84163D;
  height: 100vh;
  width: 100vw;
}
.musica2 .col {
  float: left; 
  width: 16.66vw; 
  height: 25vw;
  text-align: center;
  font-size: 18vw;
  line-height: 25vw;
  color:#6DA0A6;
}
.musica2 .row {
  /* clear float:left every row */
  clear: left;
}
.musica2 .para-left {
  /* overlayed, but still aligns to the grid */ 
  position: absolute;
  left: 40vw; /* .col width * 3 */
  top: 105vw;     /* .col height * 3 */
  color:#FFFFFF;
  font-size: 10px;
  text-align: right;
}
.musica2 .para-right {
  /* overlayed, but still aligns to the grid */ 
  position: absolute;
  left: 60vw; /* .col width * 4 */
  top: 105vw;    /* .col height * 3 */
  color:#FFFFFF;
  font-size: 10px;
}




/*musica3 styles*/
.musica3{
  background: #E8FFEF;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

/*musica4 styles*/
.musica4 .cols1{

}
.musica4 .cols2{

}
.musica4 .cols3{

}
.musica4 .cols4{

}

