style.css

body {
	font-family: ;
	font-size: ;
	line-height: ;
	color: ;
	margin: ;
}
h1 {
	font-family: ;
	font-size: ;
	line-height: ;
	color: ;
	margin: ;
}
p {
	font-family: ;
	font-size: ;
	line-height: ;
	color: ;
	margin: ;
}
.attribution {
	text-align: ;
}
